<?xml version="1.0"?>
<launch>

	<!-- data paths -->
	<param name="/rosplan/data_path" value="$(find squirrel_planning_launch)/common/" />
	<param name="/rosplan/planner_path" value="$(find rosplan_planning_system)/common/bin/" />
	<param name="/scenario_setup_file" value="$(find squirrel_planning_execution)/conf/grasping-test.conf" />

	<!-- domain file -->
	<param name="/rosplan/domain_path" value="$(find squirrel_planning_launch)/common/grasping_domain-nt.pddl" />

	<!-- knowledge base -->
	<node name="rosplan_knowledge_base" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" output="screen" />

	<!-- scene database (MongoDB) -->
	<node name="rosplan_scene_database" pkg="mongodb_store" type="mongodb_server.py" respawn="false" output="screen">
		<param name="database_path" value="$(find rosplan_knowledge_base)/common/mongoDB" />
	</node>
	<node name="rosplan_scene_message_store" pkg="mongodb_store" type="message_store_node.py" respawn="false" output="log" />

	<!-- planning system -->
	<node name="rosplan_planning_system" pkg="rosplan_planning_system" type="planner" respawn="false" output="screen">
		<param name="data_path" value="$(find squirrel_planning_launch)/common/" />
		<param name="problem_path" value="$(find squirrel_planning_launch)/common/problem.pddl" />
		<param name="strl_file_path" value="$(find squirrel_planning_launch)/common/plan.strl" />

		<param name="planner_command" value="cat $(find squirrel_planning_launch)/common/test_grasp_plan.pddl" />
		<param name="generate_default_problem" value="true" />
		<param name="parser" value="ff" />
	</node>

	<!-- Interface nodes -->
	<node name="squirrel_interface_manipulation" pkg="squirrel_interface_manipulation" type="rpgraspServer" respawn="false" output="screen">
		<param name="manipulation_action_server" value="/squirrel_object_manipulation_server" />
		<param name="placement" value="false" />
	</node>

	<node name="squirrel_planning_execution" pkg="squirrel_planning_execution" type="graspTest" respawn="false" output="screen">
		<param name="data_path" value="$(find squirrel_planning_launch)/common/" />
		<param name="cost_map_topic" value="/move_base/global_costmap/costmap" />
		<param name="cost_map_update_topic" value="/move_base/global_costmap/costmap_updates" />
		<param name="use_static_map" value="false" type="bool" />
		<param name="static_map_service" value="/static_map" />
		<param name="occupancy_threshold" value="20" />
		<param name="manipulation_service_topic" value="/squirrel_manipulation/waypoint_request" />
		<param name="simulated" value="false" />
	</node>
</launch>

